{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}

<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h3>Editar usuario</h3>
    </div>
    <div class="card-body">
      <form action="/notes/edit-note/{{note._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <div class="mb-3">
          <label for="Nombre">Nombre:</label>
          <input
            type="text"
            name="Nombre"
            class="form-control"
            value="{{note.Nombre}}"
          />
        </div>
        <div class="mb-3">
          <label for="Apellido">Apellido:</label>
          <input
            type="text"
            name="Apellido"
            class="form-control"
            value="{{note.Apellido}}"
          />
        </div>
        <div class="mb-3">
          <label for="Cedula">Cedula:</label>
          <input
            type="text"
            name="Cedula"
            class="form-control"
            value="{{note.Cedula}}"
          />
        </div>
        <div class="mb-3">
          <label for="description">Descripcion:</label>
          <textarea
            name="Descripcion"
            class="form-control"
          >{{note.Descripcion}}</textarea>
        </div>
        <button class="btn btn-primary w-100" type="submit">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>